<!-- <div class="container">
  <h2>Counter Value : {{counter}}</h2>

  <h2>Random Number: {{randomNumber()}}</h2>
  <button class="nothing-btn" (click)="doNothing()" > Do Nothing</button>

</div> -->
<!--
<div class="container">
  <h2>Counter value: {{counter$ | async}}</h2>
  <h2>{{randomNumber()}}</h2>
</div> -->

<!--<div class="container">
   <h2>Color Red: {{(colors$ | async).r}}</h2>
  <h2>Color Green: {{(colors$ | async).g}}</h2>
  <h2>Color Blue: {{(colors$ | async).b}}</h2> -->

<!-- <h3>Color Key : {{colorKey$ | async}}</h3>

  <h2>Selected Color Value: {{selectedValue$ | async}}</h2>
  <h2>Selected Color Value: {{colorObj[key]}}</h2>

  <h3>Selected New Color: {{selectedValue$ | async}}</h3>
  <button class="nothing-btn" (click)="newColor()">Click me</button>
</div> -->
<!-- <div class="container mt-5">
  <h4>My First Signal value: {{firstSignal()}}</h4>
  <h4>Derived Signal(Computed) : {{derivedSignal()}}</h4>
  <h4>New Signal(adding two Signals) : {{newSignal()}}</h4>

  <button class="nothing-btn" (click)="setSignal()">Set Signal</button>
  <button class="nothing-btn" (click)="updateSignal()">Update Signal</button>
</div> -->
<!-- <app-without-signals></app-without-signals> -->
<!-- <app-with-signals></app-with-signals> -->
<!-- <app-linked-signal></app-linked-signal> -->
<!-- <div class="container mt-2">
  <div class="tgl-button">
    <button mat-raised-button (click)="toggleCounter()">
      Start / Stop Counter
    </button>
  </div>
  @if(showCounter){
 <app-counter></app-counter>
  <app-counter-with-signals></app-counter-with-signals>
  } @else {
  <h6>Counter Stopped</h6>
  }
</div> -->

<div class="container">
  <app-reactive-context-with-effect></app-reactive-context-with-effect>
</div>
